
.Test {
    /* margin-left:50px;
    font-style: italic; */
    width: 100%;
     margin-top: 40px;
     height:50px;
    margin-left: 200px;
    background-color: salmon;
}
.Brand {
    color: skyblue;
    margin:0;
    padding:0;
    list-style: none;
    height:50%;
    flex-flow: row;
    align-items:center;
    display:flex;
} 
@media (min-width: 600px) {
    .Test {
        width: 500px;
    }
}
/* @media (min-width: 500px) {
    .Test {
        width: 400px;
    }
} */

.Lunch {
    background-color: slateblue;
}
.ItemsControl 
{
display: flex;
justify-content: space-between;
align-items: center;
margin:0px 0;
width:350px;
margin-left:240px;
border-width: 20px;
box-sizing: 3px 1px #ccc;

}

.Key {   
    font-weight: bold;
    width: 60px;
}    
.Count {
    color: green;
    margin-left: 40px;   
}

.Button
{
    color:lightcoral;
    background-color: lightpink;
    font-weight: bold;
    width: 45px;
    margin-left:80px;
}
.Price {
    font-style: oblique;
     color:black;
     margin-left: 90px;
     margin-top: 20px;   
}
.Order{
    color:blueviolet;
    outline:none;
    cursor: progress;
    font-weight: bold;
    padding:5px;
    margin:5px;

}

.Order:hover,.Order:active{
    background-color: aqua;
}
.Order:disabled {
color:white;
cursor: not-allowed;
}