.Items{
    
    background-color: pink;
    
     display:flex ; 
    flex-flow: column; 
     align-items: center; 
    box-shadow: 0 2px 1px #ccc;
    /* margin:auto; */
     padding :10px 0;  
}
@media (max-width: 500px) {
    .Items {
        width: 485px;
    }
}
@media (min-width: 500px) {
    .Items {
        width: 450px;
    }
}