
/* .Test {
    
    width: 40%;
} */
.Brand {
    color: skyblue;
    margin:0;
    padding:0;
    list-style: none;
    height:50%;
    flex-flow: row;
    align-items:center;
    display:flex;
}   
.Price {
    font-style: oblique;
     color:black;
     margin-left: 280px;
     font-size: 20px;
     height:50px;
     margin-top: 20px;   
}
.Price:hover,
.Price:active{
    color:salmon;
}


@media (min-width: 600px) {
    .Test {
        width: 500px;
        display: row;
    }
}
@media (min-width: 600px) {
    .Test {
        width: 500px;
    }
}