
/* .Test {
    
    width: 40%;
} */
.Brand {
    color: skyblue;
    margin:0;
    padding:0;
    list-style: none;
    height:50%;
    flex-flow: row;
    align-items:center;
    display:flex;
}   
.Price {
    font-style: oblique;
     color:black;
     margin-left: 250px;
     margin-top: 20px;   
}

/* @media (min-width: 500px) {
    .Test {
        width: 450px;
    }
}
@media (max-width: 500px) {
    .Items {
        width: 485px;
    }
} */



@media (min-width: 600px) {
    .Test {
        width: 500px;
        display: row;
    }
}
@media (min-width: 600px) {
    .Test {
        width: 500px;
    }
}